/*
* {
    border: 1px solid red;
}
*/

body {
    margin: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

header {
    height: 180px;
    margin: auto;
    background-color: lightgrey;
}

header img {
    margin-left: 50px;
    height: 100px;
    width: 125px;
    float: left;

}

header nav {
    margin-right: 50px;
    float: right;
    height: 100px;
    text-align: center;
}

header nav, header img {
    padding-top: 40px;
    padding-bottom: 40px;
}

header nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    color: black;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

footer {
    clear: both;
}

a:hover {
    color: red;
}

a:visited {
    color: purple;
}

.container1 {
    display: flex;
    align-items: stretch;
}

main {
    padding-top: 25px;
    flex: 2;
    display: flex;
}

aside {
    flex: 1;

}

main article {
    text-align: justify;
    margin: 20px;
    flex: 1;
}
main article:last-child {
    order: -1;
}

h1::before {
    content: ' + ';
    color: green;
}

main form textarea::placeholder {
    padding-left: 15px;
}

input:required + label::after {
    content: "*"
}

